<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.Kurs"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Kurs.mdb;Persist Security Info=True;Jet OLEDB:Database Password=admin"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.DB_StorageConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB_Storage.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.DADA"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DADA.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kurs.Properties.Settings.Kurs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Kurs.mdb;Persist Security Info=True;Jet OLEDB:Database Password=admin"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings.DB_StorageConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB_Storage.accdb"
            providerName="System.Data.OleDb" />
        <add name="Kurs.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kurs.Properties.Settings.DADA" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DADA.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>